@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

.small {
    font-size: 12;
}

.space {
    display: flex;
    margin: 5 0 15 0;
    white-space: nowrap;
}

.Header-Container {
    margin: 8 0 0 0 ;
    height: 46px;
}

.Menu-Youtube {
    justify-content: start;
    align-items: center;
    width: 25%;
    background-color: 0F0F0F;
    color: white;
}

.Search-Container {
    background-color: 0F0F0F;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Right-Header-Container {
    justify-content: end;
    width: 25%;
    align-items: center;
}

.Content-Container {
    height: 100%;
    width: 100%;
}

.Left-Drawer-Container {
    background-color: 0F0F0F;
    height: 100%;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

.Left-Drawer-Text {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #e3e3e3;
    margin-left: 26px;
    flex: 1;
    align-self: center;
}

.Left-Drawer-Icon {
    color: white;
    margin: 26 0 0 27
}

.Left-Drawer-Heading {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 17px;
    line-height: 2.5rem;
}

.Left-Drawer-Sub-Image {
    vertical-align: vertical; 
    margin: 15 0 0 24;
}


.Left-Drawer-HR {
    margin: 17 0 0 0; 
    height:2px; 
    border-width: 0; 
    color: #303030; 
    background-color: #303030;
}

.Category-Filter {
    background-color: 0F0F0F;
    height: 56px;
    width: 100%;
    padding-top: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: scroll;
}

.Category-Filter::-webkit-scrollbar {
    display: none;
}


.Category-First-Item {
    background-color: #f1f1f1;
    color: #0f0f0f;
    height: 32px;
    width: 40px;
    min-width: 12px;
    margin-left: 24px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.Category-Item {  
    background-color: rgba(255, 255, 255, 0.1);
    height: 32px;
    font-size: 1rem;
    font-weight: 300;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    color: white;
}

.Category-Item:hover {
    background-color: #4a4a4a;
}

.right-arrow {
    justify-content: end;
    margin-left: 120px;
    color: white;
}

.Main-Content-Container {
    background-color: lightcoral;
    height: 100%;
    width: 100%;
}

.Video-Grid {
    background-color: #0f0f0f;
    display: flex;
  flex-wrap: wrap;
}

.Video-Thumbnail-Container {
    flex: 25%;
    height: 345px;
    }

.Video-Thumbnail {
    margin-top: 25px;
    height: auto;
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 1/0.5;
}

.Thumbnail-Heading {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 17px;
    color: white;
    margin: 0 0 0 0;
    font-weight: 200;
}

.Thumbnail-Description {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 13px;
    color: #A8A8A8;
    font-weight: 100;
}

@media(max-width: 1475px) {
    .Video-Thumbnail-Container {
        flex: 50%;
    }
    .Search-Container {
        width: 50%;
    }
}